
[v-cloak]{
    display: none;
}
*{
    border:0;
    box-sizing: border-box;
}
body,html,.el-main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-main{
    background: lightpink;
    margin: 0;
}

/*输入框样式*/
.antiTemplate{
    border-radius: 3px;
    width: 500px;
    border: 1px #ccc solid;
    height: 150px;
    padding: 2px;
    font-size: 14px;
    overflow: auto;
    margin: 50px auto;
    background: #fff;
}
/*关键词样式*/
.editInput{
    background: #fff;
    border: 0;
    vertical-align: unset;
    text-align: center
}
.btnRow{
    width: 100%;
    display: flex;
    justify-content: center;
}